
.inazuma1 {
    height: 299px;
}

.inazuma2 {
    height: 413px;
}

.inazuma3 {
    height: 413px;
}

.personaje{
    img{
        height: 150px;
        width: 150px;
    }
}

.escudo{
    width: 10px;
    height: 120px;
}

/* Para la opción 2 con efecto hover */
.hover-opacity-100:hover {
    opacity: 1 !important;
}

.transition-all {
    transition: all 0.3s ease;
}